
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
  }
  body {
    background: #f0faff;
  }
  

nav{
  position:fixed;
  top: 0px;
  display: flex;
  height: 80px;
  width: 100%;
  background: #f0faff;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  z-index: 10;
}
nav .logo{
  color: #4A5C42;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  z-index: 10;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #4A5C42;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #f0faff;
  background: #99AB8B;
}
nav .menu-btn i{
  color: #4A5C42;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #fff;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background-color: 0;
    color: #4A5C42;
  }
}

  /*---navigation header ---*/
  
  .index-top-layout{
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url(/static/IMG/background-02.JPG);
    background-size: 115%;
    background-position: 60% 60%;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    top: 80px;
  }
  
  .index-top-text{
    position: relative;
    left: 37%;
    top: 35%;
    width: 500px;
  }
  
  .index-top-text h1{
    font-family: "superior-title", serif;
    font-weight: 700;
    font-style: italic;
    padding: 10px 0px;
    font-size: 56px;
    font-weight: 400;
    color: #fff;
    text-align: center;
   
  }

  .index-top-text p{
    font-family: "scotch-display-condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 0px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: center;
   
  }

  @media (max-width: 1600px){
    .index-top-text {
      left: 33%;
    }
  }

  @media (max-width: 1200px){

    .index-top-layout{
      background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url(IMG/Background-01.png);
      background-size: 115%;
      background-position: 10% 0%;
    }
  
    .index-top-text{
      position: relative;
      left: 29%;
    }
  }
  
  @media (max-width: 500px){
  
    .index-top-layout{
      background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url(/static/IMG/Background-01.png);
      background-size: 320%;
      background-position: 42% 100%;
      position: relative;
      left: 0px;
      width: 100%;
    }
  
    .index-top-text{
      position: relative;
      left: 0%;
      top: 35%;
      width: 100%;
    }
  }

  .request-appt-layout{
    margin-top: 8.8vh;
    background-color: #4A5C41;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    position: relative;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100px;
  }

  .request-appt-body h1{
    font-family: "chonky-poster", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    color: #fff;
    position: relative;
    top: 33%;
    right: 5%;
  }

  @media (max-width: 1600px){
    .request-appt-layout{
      margin-top: 8.8vh;
      width: 50%;
      left: 25%;
    }
    
  }

  @media (max-width: 500px){
    .request-appt-layout{
      width: 50%;
      height: 150px;
      top: 80px;
      left: 25%;
      flex-direction: column;
      margin-bottom: 100px;
    }

    .request-appt-body{
      position: relative;
      bottom: 7px;
    }

    .request-appt-body h1{
      width: 50%;
      position: relative;
      left: 25%;
      top: 0px;
      font-size: 25px;
      text-align: center;
      line-height: 22px;
    }
  }

  .sch-btn{
    background-color: #99AB8B;
    border: 2px solid white;
    color: #fff;
    border-radius: 15px;
    width: 150px;
    height: 45px;
  }

  .sch-btn:hover{
    background-color: #fff;
    border: 2px solid #538586;
    color: #538586;
    transition: .3s;
  }

  @media (max-width: 1024px){
    .request-appt-layout{
        position: relative;
        left: 15%;
        margin-top: 0vh;
        width: 70%;
    }
      
  }

  .card-row-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .card-row-body{
    border: 1px solid black;
    background-color: #C8D4BE;
    width: 350px;
    height: 400px;
    margin: 3% 1%;
    border-radius: 30px;
  }

  .card-row-body:hover{
    background-color: #fff;
    scale: 1.01;
    position: relative;
    bottom: 10px;
    transition: .3s;
  }

  .card-row-body img{
    position: relative;
    left: 15%;
    top: 10%;
    width: 80px;
    height: 80px;
  }

  .review-text{
    position: relative;
    text-align: justify;
    left: 8%;
    top: 20%;
    width: 85%;
    height: 70%;
  }

  .author{
    position: relative;
    text-align: justify;
    left: 78%;

  }

  @media (max-width: 1024px){
    .card-row-body{
        border: 1px solid black;
        background-color: #f5f5f5;
        width: 350px;
        height: 400px;
        margin: 3% 1%;
    }

    .author{
        left: 68%;
    
    }
      
  }

  @media(max-width: 500px){

    .card-row-layout{
      width: 100%;
      flex-wrap: wrap;
      margin: 50px -0px;
      overflow: hidden;
    }
    .card-row-body{
      width: 180px;
    }
    
  }

  .middle-breaker{
    background-color: #4A5C42;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px;
    width: 71%;
    height: auto;
  }

  .middle-page-title{
    color: #fff;
    position: relative;
    left: 70px;
    font-size: 48px;
  }

  .middle-page-text{
    color: #fff;
    position: relative;
    left: 70px;
    font-size: 28px;
  }

  @media (max-width: 1600px){
    .middle-breaker{
      width: 75%;
    }
  }

  @media (max-width: 1200px){
    .middle-breaker{
        background-color: #182B32;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 30px;
        width: 81%;
        height: auto;
    }

    .middle-page-title{
        font-size: 35px;
    }

    .middle-page-text{
        font-size: 20px;
      }
  }

  @media (max-width: 500px){
    .middle-breaker{

      width: 85%;
    }

    .middle-breaker h1{
      text-align: left;
      position: relative;
      left: 0px;
    }

    .middle-breaker p{
      text-align: left;
      position: relative;
      left: 0px;
    }


  
  }

  .middle-div-02-layout{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .middle-div-02-body{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
  }

  .scard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #99AB8B;
    border-radius: 20px;
  }
  
  .scard h1{
    font-size: 19px;
    margin: 20px 0px;
  }

  .scard img{
    position: relative;
    bottom: 0px;
    width: 75px;
  }

  .card-01{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .card-02{
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .card-03{
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .card-04{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .card-05{
    width: 600px;
    background-color: transparent;
    border: 2px solid #4A5C42;
    grid-column: 3/7;
    grid-row: 1/3;
  }

  .lm-btn{
    width: 150px;
    height: 40px;
    background-color: #4A5C42;
    color: #fff;
    border: 0px;
    border-radius: 15px;
  }

  #lm-btn:hover{
    cursor: pointer;
    background-color: #C8D4BE;
    color: #182B32;
  }


  #div1,
  #div2,
  #div3,
  #div4{
    width: 90%;
  }

  #div1 h1{
    color: #182B32;
    font-size: 42px;
    text-align: left;
    margin: 50px 0px;
  }

  #div1 p{
    color: #182B32;
    font-size: 20px;
    text-align: justify;
    margin: 50px 0px;
  }

  #div2 h1{
    color: #182B32;
    font-size: 38px;
    text-align: left;
    margin: 50px -0px;
  }

  #div2 p{
    color: #182B32;
    font-size: 20px;
    text-align: justify;
    margin: 50px 0px;
  }

  #div3 h1{
    color: #182B32;
    font-size: 42px;
    text-align: left;
    margin: 50px -0px;
  }

  #div3 p{
    color: #182B32;
    font-size: 20px;
    text-align: justify;
    margin: 50px 0px;
  }

  #div4 h1{
    color: #182B32;
    font-size: 42px;
    text-align: left;
    margin: 30px -0px;
  }

  #div4 p{
    color: #182B32;
    font-size: 20px;
    text-align: justify;
    margin: 20px 0px;
  }


  @media(max-width: 1200px){
    .middle-div-02-layout{
      margin: 50px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 500px){    
    .middle-div-02-layout{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .middle-div-02-body{
      width: auto;
      display: grid;
      grid-template-columns: 160px 160px;
      grid-template-rows: 200px 200px auto;
      grid-gap: 10px;
    }

    .scard h1{
      text-align: center;
    }
  
    .card-01{
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    .card-02{
      grid-column: 2/3;
      grid-row: 1/2;
    }
  
    .card-03{
      grid-column: 1/2;
      grid-row: 2/3;
    }
  
    .card-04{
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .card-04 h1{
      margin: 10px 0px;
    }
  
    .card-05{
      background-color: transparent;
      border: 2px solid #4A5C42;
      grid-column: 1/4;
      grid-row: 4/5;
    }

    .card-05{
      width: 330px;
    } 
    .card-05 h1, 
    .card-05 p{
      width: 100%;
    }
  
    .lm-btn{
      width: 150px;
      height: 40px;
      background-color: #4A5C42;
      color: #fff;
      border: 0px;
      border-radius: 15px;
    }
  }

  .middle-bottom-layout{
    margin-bottom: 0px;
    background-color: #F3EBE0;
    min-height: 40vh;
  }

  .middle-bottom-layout h1{
    text-align: center;
    padding: 40px 0px;
  }

  .mbl-fd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .bullet-points-01{
    margin: 0px 50px ;
    width: 500px;
    line-height: 50px;
    font-size: 19px;
    list-style-type: circle;
    color: #4A5C42;
  }

  .bullet-points-02{
    position: relative;
    left: 150px;
    margin: 0px 50px ;
    width: 500px;
    line-height: 50px;
    font-size: 19px;
    list-style-type: circle;
    color: #4A5C42;
  }

  @media (max-width: 1600px){
    .middle-bottom-layout{
      min-height: 50vh;
    }
  }

  @media (max-width: 1200px){
    .middle-bottom-layout{
      min-height: 50vh;
    }
    
    .bullet-points-01{
      margin: 0px 0px;
      width: 50%;
    }

    .bullet-points-01 li{ 
      position: relative;
      left: 100px;
    }

    .bullet-points-02{
      width: 40%;
      left: 30px;
    }
  }


  @media (max-width: 500px){
    .middle-bottom-layout{
      min-height: 50vh;
    }

    .mbl-fd{
      width: 100%;
      flex-direction: column;
    }

    .bullet-points-01{
      position: relative;
      left: -100px;
      text-align: center;
      margin: 20px 0px ;
      width: 100%;
      height: auto;
      line-height: 30px;
      font-size: 18px;
      list-style-type: circle;
      color: #4A5C42;
    }

    .bullet-points-02{
      text-align: center;
      position: relative;
      left: 0px;
      margin: 10px 20px ;
      width: 100%;
      height: auto;
      line-height: 30px;
      font-size: 18px;
      list-style-type: circle;
      color: #4A5C42;
    }
  }

    /*---foot bar ---*/
.container_03{
    width: 100%;
    margin: auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  .ul{
    list-style: none;
  }
  
    .footer{
      background-color: #99AB8B;
      padding: 70px 0;
    }
  
    .footer-col{
      width: 25%;
      padding: 0 15px;
    }
  
    .footer-col h4{
      font-size: 18px;
      color: #444;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
    }
  
    .footer-col h4::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
  
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #444;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    display: block;
    transition: all 0.3s ease;
  }
  
  
  .footer ul li a:hover{
    color: #fff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 2555, 0.2);
    margin: 0 10px 10px 0;  
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
  }

  .social-links img{
    width: 40px;
    border-radius: 50px;
    border: 2px solid white;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
  
    }
  
    .footer-col {
      width: 90%;
  
    }
  }
