<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" >
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/hks4ape.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home Page</title>
</head>
<body>
    



    <nav>
        <div class="logo">Zen Counseling</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
          <i class="fa fa-bars"></i>
        </label>
        <ul>
          <li><a class="active" href="/take-action">Take Action</a></li>
          <li><a href="/index">Home</a></li>
          <li><a href="/our-services">Services</a></li>
          <li><a href="/therapists.html">Therapist</a></li>
        </ul>
    </nav>
<!----navigation bar---->


<section class="top-layout">
    <div class="index-top-layout">

        <div class="index-top-text">
            <h1>My Mission:</h1>
            <p>Nurturing Hope and Healing Through Therapy. I’m dedicated to guiding you on your journey to well-being, Together, we’ll navigate life’s challenges and help you discover a more fulfilling path.</p>
        </div>
    </div>
</section>

<div class="request-appt-layout">
    <div class="request-appt-body">
        <h1>Request Appointment today</h1>
    </div>
    <a href="/our-services"><button class="sch-btn">GET STARTED</button></a>
</div>

<div class="card-row-layout">

    <div class="card-row-body">

        <img src="IMG/review-01.png" alt="">

        <p class="author">-Author</p>

    </div>

    <div class="card-row-body">

        <img src="IMG/review-02.png" alt="">

        <p class="author">-Author</p>

    </div>

    <div class="card-row-body">

        <img src="IMG/review-01.png" alt="">

        <p class="author">-Author</p>

    </div>

    <div class="card-row-body">

        <img src="IMG/review-02.png" alt="">

        <p class="author">-Author</p>

    </div>
</div>

<div class="middle-div-layout">
    <div class="middle-breaker">

        <div class="middle-div-body">
            <h1 class="middle-page-title">Therapy Practices</h1>
        </div>
        <p class="middle-page-text">A Thorough case history to identify key issues and changes</p>
    </div>
</div>

<div class="middle-div-02-layout">
    <div class="middle-div-02-body">
        <div class="scard card-01">
            <img src="IMG/pic-card-01.png" alt="">
            <h1>HypnoTherapy</h1>
            <button onclick="hideShow('div1')" id="lm-btn" class="lm-btn">LEARN MORE</button>
        </div>

        <div class="scard card-02">
            <img src="IMG/pic-card-03.png" alt="">
            <h1>Couples Counseling</h1>
            <button onclick="hideShow('div2')" id="lm-btn" class="lm-btn">LEARN MORE</button>
        </div>

        <div class="scard card-03">
            <img src="IMG/pic-card-02.png" alt="">
            <h1>PTSD</h1>
            <button onclick="hideShow('div3')" id="lm-btn" class="lm-btn">LEARN MORE</button>
        </div>

        <div class="scard card-04">
            <img src="IMG/pic-card-04.png" alt="">
            <h1>Generalized Anxiety</h1>
            <button onclick="hideShow('div4')" id="lm-btn" class="lm-btn">LEARN MORE</button>
        </div>

        <div class="scard card-05">
            <div id="div1">
                <h1>Hypno Therapy</h1>
                <p>Hypnotherapy is a therapeutic technique that uses hypnosis to induce a trance-like state of deep relaxation and heightened focus. In this state, a trained therapist can provide suggestions and address various issues, such as changing behaviors, managing emotions, or enhancing well-being. It is used to help individuals achieve specific goals and overcome psychological or emotional challenges.</p>
            </div>

            <div id="div2">
                <h1>Couples Counseling</h1>
                <p>Couples Counseling, including Emotionally Focused Therapy (EFT), creates a safe space for partners to express feelings, enhance communication, and find solutions. EFT, rooted in attachment theory, specifically focuses on strengthening the emotional bond between couples. It helps address patterns of interaction, fostering a more secure emotional foundation and contributing to resolving conflicts, infidelity, and other concerns. Together, these approaches aim to build a more harmonious partnership and increase overall relationship satisfaction.</p>
            </div>

            <div id="div3">
                <h1>(PTSD) Post Traumatic Stress Disorder Therapy</h1>
                <p>Post-Traumatic Stress Disorder (PTSD) therapy is a specialized form of psychotherapy designed to help individuals who have experienced trauma, such as combat, accidents, or other distressing events. It focuses on reducing the symptoms of PTSD, including flashbacks, anxiety, and nightmares, by providing strategies to manage and process the traumatic memories. Therapists use various evidence-based approaches like Cognitive-Behavioral Therapy (CBT) or Eye Movement Desensitization and Reprocessing (EMDR) to help individuals regain control over their lives and find relief from the ongoing distress of PTSD.</p>
            </div>

            <div id="div4">
                <h1>Generalized Anxiety Disorder</h1>
                <p>Generalized Anxiety Disorder (GAD) therapy is a therapeutic approach aimed at helping individuals who experience persistent and excessive worry and anxiety about various aspects of their life. It involves working with a therapist to identify and manage the root causes of anxiety, develop coping strategies, and change thought patterns that contribute to excessive worry. Therapy for GAD often employs techniques from Cognitive-Behavioral Therapy (CBT), relaxation exercises, and stress management to alleviate symptoms and improve overall well-being. It provides individuals with the tools and support to regain control over their anxiety and lead a more balanced and fulfilling life.</p>
            </div>
        </div>
    </div>
</div>



<div class="middle-bottom-layout">
    <h1>I Can Help You With:</h1>
    <div class="mbl-fd">

        <ul class="bullet-points-01">
            <li>Get out of your head and into your life;</li>
            <li>Determine your personal and professional goals;</li>
            <li>Manage dificult emotions</li>
            <li>Clarify your values;</li>
        </ul>

        <ul class="bullet-points-02">
            <li>Improve relationship with food and your body;</li>
            <li>Reduce or stop destructive habits;</li>
            <li>Become more present in your day-to-day life;</li>
            <li>Learn how to better manage life stressors;</li>
        </ul>
        

    </div>
</div>




    <footer class="footer">
        <div class="container-03">
            <div class="row">
                <div class="footer-col">
                    <h4>Zenith Counseling</h4>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/our-services">Services</a></li>
                        <li><a href="/therapists">Therapist</a></li>
                        <li><a href="/take-action">Take Action</a></li>
                    </ul>
                </div>
    
    
                <div class="footer-col">
                    <h4>follow US</h4>
                    <div class="social-links">
                    <ul>
                        <a href="#" class="facebook"><img src="/static/IMG/social-media-icons/facebook.png" alt=""></a>
                        <a href="#" class="twitter"><img src="/static/IMG/social-media-icons/twitter.png" alt=""></a>
                        <a href="#" class="instagram"><img src="/static/IMG/social-media-icons/instagram.png" alt=""></a>
                        <a href="#" class="linkedin"><img src="/static/IMG/social-media-icons/linkedin.png" alt=""></a>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>
<!-- Fist BOTTOM PAGE COLUNA-->
</body>
</html>
