<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" >
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/hks4ape.css">
    <link rel="stylesheet" href="/css/therapists.css">
    <title>THERAPISTS</title>
</head>
<body>
    <nav>
        <div class="logo">Zen Counseling</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
          <i class="fa fa-bars"></i>
        </label>
        <ul>
          <li><a class="active" href="/take-action">Take Action</a></li>
          <li><a href="/index">Home</a></li>
          <li><a href="/our-services">Services</a></li>
          <li><a href="/therapists">Therapist</a></li>
        </ul>
    </nav>
<!--navigation bar-->

    <div class="therapist-intro">
        <div class="text-intro-body">
            <h1>WHO AM I ?</h1>

            <p><span class="text-highlight">Hello</span>, I'm Zenith, and I'm here to offer you my expertise and unwavering support on your path to personal growth and healing. I hold a Master of Science degree and am a licensed professional counselor, with additional certifications as a Clinical Certified Hypnotherapist and as a National Certified Counselor (NCC). These credentials reflect my commitment to providing top-quality care.</p>

            <p><span class="text-highlight">Beyond</span> my professional qualifications, I take pride in being the mother of two wonderful daughters. This role has given me invaluable insights into the complexities of life, relationships, and personal development, enriching my capacity for empathy and compassion.
                
                My therapeutic approach is characterized by understanding and kindness, and I believe that each individual's journey is unique. I embrace diverse ideas and perspectives in our therapeutic space, creating an atmosphere of open-mindedness.</p>
                
            <p> <span class="text-highlight">My Central Focus</span> is your well-being and personal growth. I'm devoted to helping you overcome challenges, nurture your potential, and uncover the inner strength necessary for a fulfilling life. My therapy sessions offer a safe, confidential, and supportive environment for exploring your thoughts and feelings without judgment.</p>
                
            <p><span class="text-highlight">By Choosing to Work With Me</span>, you're selecting a therapist who combines extensive training and experience with a sincere commitment to your success and happiness. Together, we'll embark on a transformative journey of self-discovery and positive change, building a partnership based on trust, respect, and a shared dedication to your well-being. Please don't hesitate to reach out, and let's commence this journey toward a brighter future together.</p>
        </div>

        <div class="therapist-pic">
            <img src="/static/IMG/therapists/2.jpeg" alt="">
        </div>
    </div>

    <div class="name-divider">
        <h1>Zenith Seixas</h1>
    </div>

    <div class="rftns-div">



    </div>



        <footer class="footer">
            <div class="container-03">
                <div class="row">
                    <div class="footer-col">
                        <h4>Zenith Counseling</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="our-services.html">Services</a></li>
                            <li><a href="therapists.html">Therapist</a></li>
                            <li><a href="take-action.html">Take Action</a></li>
                        </ul>
                    </div>
        
        
                    <div class="footer-col">
                        <h4>follow US</h4>
                        <div class="social-links">
                        <ul>
                            <a href="#" class="facebook"><img src="/static/IMG/social-media-icons/facebook.png" alt=""></a>
                            <a href="#" class="twitter"><img src="/static/IMG/social-media-icons/twitter.png" alt=""></a>
                            <a href="#" class="instagram"><img src="/static/IMG/social-media-icons/instagram.png" alt=""></a>
                            <a href="#" class="linkedin"><img src="/static/IMG/social-media-icons/linkedin.png" alt=""></a>
                        </div>
                        </ul>
                    </div>

                    <div class="rftns-body">
                        <h1>READY FOR THE NEXT STEP?</h1>
                        <a href="/take-action"><button>CONTACT-ME</button></a>
                    </div>
                </div>
            </div>
        </footer>

</body>
</html>
